body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

*,
*::before,
*::after {
  box-sizing: border-box; 
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; 
}

ul[class],
ol[class] {
  list-style: none; 
}
body {
  background-color: #0b192f; 
}
.container {
  max-width: 1420px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto; 
}
.navigation__burger {
  display: none;
}
.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #024161;
  padding-left: 13px;
  padding-right: 40px;
  margin-bottom: 11px;
}
.navigation {
  display: flex;
}
.navigation__link {
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  display: block;
}
.navigation__link:hover {
  background-color: #1f52a4;
}
.logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
}
.logo span {
  color: #c42767;
}
.main-section {
  background: #003e5f url("/img/post0.jpg") center/cover;
  height: 480px;
  color: #fff;
  padding-left: 24px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 11px;
}
.main-section__link {
  text-decoration: none;
}
.header__heading {
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 42px;
}
.header__text {
  width: 75%;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.header {
  margin-bottom: 8px;
}
.posts {
  width: 74.75%;
  display: flex;
  flex-direction: column-reverse;
}
.story {
  height: 100%;
  display: flex;
}
.posts > a:nth-child(1) > .story {
  height: 230px;
}
.story-info {
  padding: 40px 50px;
  position: relative;
}
a:nth-child(even) .story-picture{
  flex-direction: row-reverse;
}
a:nth-child(even) .story-picture > .story-info{
  text-align: right;
}
.story-info__heading {
  padding-bottom: 15px;
  font-weight: 100;
  font-size: 42px;
  transition: .5s ease;
  opacity: 1;
}
.story-info__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.story-info__time {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 100;
  font-size: 24px;
  top: 0;
  padding-top: 20px;
}
a:nth-child(even) .story-picture > .story-info > .story-info__time{
  left: 0;
  padding-left: 10px;
}
a:nth-child(odd) .story-picture > .story-info > .story-info__time{
  right: 0;
  padding-right: 10px;
}
.posts > a:nth-child(1) > .story > .story-info > .story-info__time {
  right: 0;
  padding-right: 10px;
}
.story-info__time span {
  font-weight: 100;
  font-size: 42px;
}
.story-picture {
  position: relative;
}
a:nth-child(even) .story-picture > .story__overley{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 49.5%;
  opacity: 0;
  transition: .5s ease;
}
a:nth-child(odd) .story-picture > .story__overley{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 49.5%;
  opacity: 0;
  transition: .5s ease;
}
a:nth-child(2) > article > .story__overley {
  background-color: #9d27b0;
}
a:nth-child(2):hover .story__overley {
  opacity: 0.3;
}
a:nth-child(3) > article > .story__overley {
  background-color: #ed5120;
}
a:nth-child(3):hover .story__overley {
  opacity: 0.3;
}
a:nth-child(4) > article > .story__overley {
  background-color: #9bb800;;
}
a:nth-child(4):hover .story__overley {
  opacity: 0.3;
}
a:nth-child(5) > article > .story__overley {
  background-color: #9d27b0;
}
a:nth-child(5):hover .story__overley {
  opacity: 0.3;
}
.story__img {
  width: 49.5%;
  object-fit: cover;
}
.info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.news-block {
  width: 23.75%;
}
.news__img {
  width: 100%;
}
.story__link {
  display: block;
  text-decoration: none;
  color: #fff;
}
.story__link:hover .story-info__heading {
  opacity: 0.5;
}
.news {
  background-color: #fff;
}
.news-info {
  padding: 35px;
}
.news__link {
  text-decoration: none;
  color: #000;
}
.news-info__heading {
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 15px;
}
.news-info__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
}
.news__link {
  display: block;
}
.news__link + .news__link {
  margin-top: 20px;
}
.footer-wrapper {
  height: 75px;
  background-color: #024161;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0 20px; 
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5em;
}
@media all and (max-width: 768px) {
  .navigation__wrapper {
    justify-content: initial;
    flex-direction: column;
    height: 100%;
    padding: 15px 0 45px;
    align-items: center;
  }
  .navigation {
    display: none;
  }
  .navigation__burger {
    display: block;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .main-section {
    padding: 0 24px 30px 24px;
  }
  .header__text {
    width: 100%;
  }
  .story {
    display: initial;
  }
  .story__img {
    width: 100%;
    display: block;
  }
  .story-info__heading {
    font-size: 30px;
    padding-right: 15px;
  }
  .story-info__text {
    line-height: 1.8em;
    font-size: 14px;
  }
  .posts {
    width: 59%;
  }
  .news-block {
    width: 40%;
  }
  a:nth-child(even) .story-picture > .story-info{
    text-align: left;
  }
  a:nth-child(even) .story-picture > .story-info > .story-info__time{
    left: initial;
    right: 0;
    padding-right: 10px;
  }
  .posts > a:nth-child(1) > .story > .story-info > .story-info__time {
    position: relative;
    text-align: center;
    padding: 45px 0 0;
  }
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 20px;
  }
  .news-info {
    padding: 30px;
  }
  .news-info__heading {
    font-size: 24px;
    line-height: 1.2em;
  }
  .news-info__text {
    font-size: 14px;
    line-height: 1.6em;
  }
}
@media all and (max-width: 480px) {
  .info-content {
    display: block;
  }
  .news-block {
    width: 100%;
  }
  .posts {
    width: 100%;
  }
}